#app .content-container {
  width: 1160px;
  padding: 20px;
  background-color: #fff;
}
#app .content-container .headline {
  position: relative;
  height: 46px;
  text-align: left;
  border: 1px solid #ddd;
}
#app .content-container .headline .title {
  display: inline-block;
  width: 89px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  background: url(../images/headline.png) no-repeat;
  text-align: center;
}
#app .content-container .headline img {
  margin-left: 46px;
}
#app .content-container .headline .content {
  margin-left: 6px;
  cursor: pointer;
}
#app .content-container .headline .content:hover {
  color: #42a0f8;
}
#app .content-container .headline .time {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #999;
}
#app .content-container .section1 {
  height: 320px;
  margin-top: 20px;
}
#app .content-container .section1 .left {
  width: 49%;
  height: 100%;
}
#app .content-container .section1 .left#banner {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
#app .content-container .section1 .left#banner .banner-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #000;
  height: 30px;
  line-height: 30px;
  filter: alpha(opacity=30);
  opacity: 0.7;
  z-index: 1000;
  cursor: pointer;
}
#app .content-container .section1 .left#banner .banner-bg .banner-info {
  height: 22px;
  color: #fff;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  margin-left: 5px;
  z-index: 1001;
}
#app .content-container .section1 .left#banner ul {
  position: absolute;
  list-style-type: none;
  filter: alpha(opacity=80);
  opacity: 0.8;
  z-index: 1002;
  margin: 0;
  padding: 0;
  bottom: 3px;
  right: 5px;
}
#app .content-container .section1 .left#banner ul li {
  padding: 0px 8px;
  float: left;
  display: block;
  color: #fff;
  background: #6f4f67;
  cursor: pointer;
  border: 1px solid #333;
}
#app .content-container .section1 .left#banner ul li.on {
  background-color: #42a0f8;
}
#app .content-container .section1 .left#banner .banner_list a {
  position: absolute;
}
#app .content-container .section1 .right {
  width: 49%;
  height: 100%;
}
#app .content-container .section1 .right .tabs-item {
  width: 49%;
  padding: 0;
}
#app .content-container .section1 .right .hot-news .hot-content {
  width: 568px;
}
#app .content-container .section1 .right .hot-news .hot-content .title {
  width: 490px;
}
#app .content-container .section-devide1 {
  margin-top: 20px;
}
#app .content-container .section2 {
  height: 374px;
}
#app .content-container .section2 .hot-news .hot-content {
  width: 650px;
}
#app .content-container .section2 .hot-news .hot-content .title {
  width: 560px;
}
#app .content-container .section2 .left {
  width: 64%;
  height: 100%;
  position: relative;
}
#app .content-container .section2 .left .news-list-container {
  margin-top: 12px;
  position: relative;
  height: 216px;
}
#app .content-container .section2 .left .tabs-item {
  width: 19%;
  padding: 0;
}
#app .content-container .section2 .left .news-list {
  width: 48%;
}
#app .content-container .section2 .right {
  width: 32%;
  height: 100%;
}
#app .content-container .section2 .right .img-item {
  margin-top: 6px;
  display: inline-block;
}
#app .content-container .section2 .right .img-item.first {
  margin-top: 16px;
}
#app .content-container .section4 {
  height: 374px;
  margin-top: 12px;
}
#app .content-container .section4 .header {
  border: none;
}
#app .content-container .section4 .more {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  z-index: 1;
}
#app .content-container .section4 .more:hover {
  color: #42a0f8;
  text-decoration: underline;
}
#app .content-container .section4 .tabs-header {
  padding-bottom: 8px;
}
#app .content-container .section4 .tabs-header .tabs-item {
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  padding: 0;
  width: 156px;
  margin-left: 6px;
}
#app .content-container .section4 .tabs-header .tabs-item.active {
  border: 1px solid transparent;
  background-color: #2093e3;
  color: #fff;
  border: none;
}
#app .content-container .section4 .tabs-pane {
  margin-top: 12px;
  position: relative;
  height: 216px;
}
#app .content-container .section4 .tabs-pane .news-list {
  width: 32%;
  position: relative;
}
#app .content-container .section4 .tabs-pane .news-list.center {
  float: left;
  left: 24px;
}
#app .content-container .section5 {
  height: 250px;
}
#app .content-container .section5 .left {
  width: 64%;
  height: 100%;
}
#app .content-container .section5 .left .col-card {
  width: 48%;
  height: 100%;
}
#app .content-container .section5 .left .col-card.col-left {
  float: left;
}
#app .content-container .section5 .left .col-card.col-right {
  float: right;
}
#app .content-container .section5 .right {
  width: 32%;
  height: 100%;
}
#app .content-container .section6 {
  border: 1px solid #ddd;
  text-align: left;
  height: 232px;
  margin-top: 12px;
}
#app .content-container .section6 .section-img {
  position: relative;
  top: -32px;
  height: 156px;
  display: inline-block;
  width: 1106px;
  text-align: center;
}
#app .content-container .section6 .section-img .img-item {
  margin-left: 16px;
  display: inline-block;
  width: 224px;
  height: 156px;
  position: relative;
}
#app .content-container .section6 .section-img .img-item img {
  width: 100%;
  height: 100%;
}
#app .section7 {
  margin-top: 12px;
  height: 334px;
}
#app .section7 .left {
  width: 66%;
  height: 310px;
  background-color: #fff;
  padding: 0 24px 24px 24px;
}
#app .section7 .left .message-list .message-item {
  height: 72px;
  border-bottom: 1px dashed #ddd;
}
#app .section7 .left .message-list .message-item .icon {
  position: relative;
  float: left;
  width: 36px;
  height: 36px;
  background-color: #ddd;
  top: 18px;
}
#app .section7 .left .message-list .message-item .content {
  float: right;
  width: 749px;
  height: 72px;
  cursor: pointer;
}
#app .section7 .left .message-list .message-item .content .top {
  margin-top: 12px;
  height: 24px;
  line-height: 24px;
}
#app .section7 .left .message-list .message-item .content .top .name {
  color: #418acd;
}
#app .section7 .left .message-list .message-item .content .top .time {
  float: right;
  color: #999;
  font-size: 12px;
}
#app .section7 .left .message-list .message-item .content .bottom {
  height: 24px;
  line-height: 24px;
  color: #666;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app .section7 .left .message-input {
  margin-top: 24px;
}
#app .section7 .left .message-input input {
  height: 32px;
  border: none;
  outline: none;
}
#app .section7 .left .message-input input.text {
  width: 612px;
  padding-left: 12px;
  background-color: #f8f8f8;
}
#app .section7 .left .message-input input.btn {
  float: right;
  width: 120px;
  background-color: #2488dd;
  cursor: pointer;
}
#app .section7 .right {
  width: 26%;
}
#app .section7 .right.nav-links {
  background-color: #fff;
  padding: 0 16px 24px 16px;
  padding-top: 0;
}
#app .section7 .right.nav-links select {
  width: 100%;
  height: 30px;
  margin-top: 32px;
  appearance: none;
}
