<div class="header-container">
    <div class="center-line">
      <div class="left"><img src="../images/logo.png" /></div>
      <div class="search-group right">
        <input placeholder="请输入关键字"/>
        <button>搜索</button>
      </div>
    </div>
    <ul class="nav">
      <li class="first active"><a href="">网站首页</a></li>
      <li><a href="">本院概况</a></li>
      <li><a href="">部门动态</a></li>
      <li><a href="">检察文化</a></li>
      <li><a href="">信息发布</a></li>
      <li><a href="">内网邮箱</a></li>
      <li><a href="">旧版入口</a></li>
      <li class="last"><a href="">检务助手</a></li>
    </ul>
  </div>
</div>
